(
    id: "item",
    item: [
        (
            id: "0",
            offset: 0,
            name: "candle",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "1",
            offset: 1,
            name: "glove",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "2",
            offset: 2,
            name: "raft",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "3",
            offset: 3,
            name: "boots",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "4",
            offset: 4,
            name: "flute",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "5",
            offset: 5,
            name: "cross",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "6",
            offset: 6,
            name: "hammer",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "7",
            offset: 7,
            name: "magic key",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "8",
            offset: 8,
            name: "key",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "9",
            offset: 9,
            name: "???(0x09)",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "10",
            offset: 10,
            name: "50-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "11",
            offset: 11,
            name: "100-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "12",
            offset: 12,
            name: "200-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "13",
            offset: 13,
            name: "500-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "14",
            offset: 14,
            name: "magic container",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "15",
            offset: 15,
            name: "heart container",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "16",
            offset: 16,
            name: "blue jar",
            chr: Chr(2, 0),
            palette: 3,
            size: (16, 16),
        ),
        (
            id: "17",
            offset: 17,
            name: "red jar",
            chr: Chr(2, 0),
            palette: 2,
            size: (16, 16),
        ),
        (
            id: "18",
            offset: 18,
            name: "1up",
            chr: Chr(2, 0),
            palette: 0,
            size: (16, 16),
        ),
        (
            id: "19",
            offset: 19,
            name: "kid",
            chr: Chr(4, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "20",
            offset: 20,
            name: "trophy",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "21",
            offset: 21,
            name: "water of life",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
    ],
    fake: [
        (
            id: "212",
            offset: 0xd4,
            name: "door",
            chr: Chr(2, 0),
            palette: 1,
            size: (8, 48),
            sprites: [ 0x74, 0x76, 0x74 ],

        ),
        (
            id: "238",
            offset: 0xee,
            name: "elevator",
            chr: Chr(2, 0),
            palette: 1,
            size: (32, 64),
            sprites: [ 0x0400ac, 0x0400ac, 0x0400ac, -1,
                    -1,   -1,   -1, -1,
                    -1,   -1,   -1, -1,
                   0x0400ac, 0x0400ac, 0x0400ac, -1 ]
        ),
    ],
    sprite_table: Prg(-1, 0xee7f),
)
