// Notes on tile ids in the `sprites` field:
// Zelda2 programs the NES PPU to use double-tall sprites (8x16).  As
// such, the LSB of each tile ID tells the PPU which of the two currently
// mapped CHR banks to read the tile from.
//
// In this file, I have added additional metadata to the tile IDs to be
// able to draw sprites which are composed of sprites on non-8x16 aligned
// offsets, or are large mirrored sprites.  For example, the large
// skull bubble in the great palace looks like a 32x32 sprite, however,
// it is layed out like this:
//
//    AB
//   sABs
//   sCDs
//    CD
//
// In order to accomodate the y-offseted and mirrored (S)ides of the bubble,
// the upper bits of the sprite ID can encode additional information:
//
//
// bit: 2        1        0        0
//      4        6        8        0
// id:  m xxxxxxxx yyyyyyyy iiiiiiib
//
// Bit 24 unconditionally mirrors the sprite about the x axis.
//        xxxxxxxx = xoffset to render the sprite.
//        yyyyyyyy = xoffset to render the sprite.
//        iiiiiiib = the sprite ID and bank offset.
(
    id: "item",
    item: [
        (
            id: "0",
            offset: 0,
            name: "candle",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "1",
            offset: 1,
            name: "glove",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "2",
            offset: 2,
            name: "raft",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "3",
            offset: 3,
            name: "boots",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "4",
            offset: 4,
            name: "flute",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "5",
            offset: 5,
            name: "cross",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "6",
            offset: 6,
            name: "hammer",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "7",
            offset: 7,
            name: "magic key",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "8",
            offset: 8,
            name: "key",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "9",
            offset: 9,
            name: "???(0x09)",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "10",
            offset: 10,
            name: "50-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "11",
            offset: 11,
            name: "100-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "12",
            offset: 12,
            name: "200-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "13",
            offset: 13,
            name: "500-bag",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "14",
            offset: 14,
            name: "magic container",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "15",
            offset: 15,
            name: "heart container",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "16",
            offset: 16,
            name: "blue jar",
            chr: Chr(2, 0),
            palette: 3,
            size: (16, 16),
        ),
        (
            id: "17",
            offset: 17,
            name: "red jar",
            chr: Chr(2, 0),
            palette: 2,
            size: (16, 16),
        ),
        (
            id: "18",
            offset: 18,
            name: "1up",
            chr: Chr(2, 0),
            palette: 0,
            size: (16, 16),
        ),
        (
            id: "19",
            offset: 19,
            name: "kid",
            chr: Chr(4, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "20",
            offset: 20,
            name: "trophy",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
        (
            id: "21",
            offset: 21,
            name: "water of life",
            chr: Chr(2, 0),
            palette: 1,
            size: (16, 16),
        ),
    ],
    fake: [
        (
            id: "212",
            offset: 0xd4,
            name: "door",
            chr: Chr(2, 0),
            palette: 1,
            size: (8, 48),
            sprites: [ 0x74, 0x76, 0x74 ],

        ),
        (
            id: "238",
            offset: 0xee,
            name: "elevator",
            chr: Chr(2, 0),
            palette: 1,
            size: (32, 64),
            sprites: [
                0x0400ac, 0x0400ac, 0x0400ac, -1,
                      -1,       -1,       -1, -1,
                      -1,       -1,       -1, -1,
                0x0400ac, 0x0400ac, 0x0400ac, -1,
            ],
        ),
    ],
    sprite_table: Prg(-1, 0xee7f),
)
