(
    walk_anywhere: Prg(0, 0x871e),
    item_pickup_delay: Prg(-1, 0xe53c),
    text_delay: [
        Prg(3, 0xb615),
        Prg(3, 0xb657),
        Prg(3, 0xb74e)
    ],
    beam_sword_time: Prg(0, 0x986e),
    beam_sword_speed: Prg(0, 0x9819),
    elevator_speed: Prg(-1, 0xd8bf),
    fairy_speed: Prg(0, 0x92aa),
    hack: [
        (
            id: "p5_detect",
            name: "Palace 5 detect",
            item: [
                (
                    id: "0",
                    name: "Vanilla (P5 on overworld 2)",
                    code: "",
                ),
                (
                    id: "1",
                    name: "Palace 2 must be connection #52",
                    code: r#"
from z2edit.hacks import palace5
palace5.palace2_must_be_connection52(edit, asm)"#,
                ),
                (
                    id: "2",
                    name: "P2 even / P5 odd",
                    code: r#"
from z2edit.hacks import palace5
palace5.palace2_even_palace5_odd(edit, asm)"#,
                ),
                (
                    id: "3",
                    name: "P2 odd / P5 even",
                    code: r#"
from z2edit.hacks import palace5
palace5.palace2_odd_palace5_even(edit, asm)"#,
                ),
            ],
        ),
    ],
)
