(
    mason_dixon_line: Prg(-1, 0xcb32),
    y_offset: 30,
    map: [
        (
            id: "west_hyrule",
            name: "West Hyrule",
            overworld: 0,
            subworld: 0,
            pointer: Prg(1, 0x8508),
            connector: Prg(1, 0x861f),
            encounter: Prg(1, 0x8409),
            objtable: Prg(0, 0x87a3),
            objtable_len: 16,
            palette: Prg(-1, 0xc45b),
            tile_palette: Prg(0, 0x87e3),
            chr: Chr(0x11, 0),
            width: 64,
            height: 75,
            raft_connector: 41,
            raft_table: Prg(0, 8528),
            palace: (
                to_stone_table: (Prg(1, 0x878f), 4),
                chr_table: Prg(-1, 0xcd2a),
                palette_table: Prg(-1, 0xcd35),
                length: 4,
            )
        ),
        (
            id: "death_mountain",
            name: "Death Mountain",
            overworld: 0,
            subworld: 1,
            pointer: Prg(1, 0x850a),
            connector: Prg(1, 0xa0fc),
            encounter: Prg(1, 0x8409),
            objtable: Prg(0, 0x87a3),
            objtable_len: 16,
            palette: Prg(-1, 0xc45b),
            tile_palette: Prg(0, 0x87e3),
            chr: Chr(0x11, 0),
            width: 64,
            height: 75,
            raft_connector: 255,
            raft_table: Prg(0, 0),
            palace: (
                to_stone_table: (Prg(1, 0x8795), 1),
                chr_table: Prg(-1, 0xcd2e),
                palette_table: Prg(-1, 0xcd39),
                length: 4,
            )
        ),
        (
            id: "east_hyrule",
            name: "East Hyrule",
            overworld: 2,
            subworld: 0,
            pointer: Prg(2, 0x8508),
            connector: Prg(2, 0x861f),
            encounter: Prg(2, 0x8409),
            objtable: Prg(0, 0x87a3),
            objtable_len: 16,
            palette: Prg(-1, 0xc45b),
            tile_palette: Prg(0, 0x87e3),
            chr: Chr(0x11, 0),
            width: 64,
            height: 75,
            raft_connector: 41,
            raft_table: Prg(0, 8529),
            palace: (
                to_stone_table: (Prg(2, 0x878f), 4),
                chr_table: Prg(-1, 0xcd32),
                palette_table: Prg(-1, 0xcd3d),
                length: 3,
            )
        ),
        (
            id: "maze_island",
            name: "Maze Islad",
            overworld: 2,
            subworld: 1,
            pointer: Prg(2, 0x850a),
            connector: Prg(2, 0xa0fc),
            encounter: Prg(2, 0x8409),
            objtable: Prg(0, 0x87a3),
            objtable_len: 16,
            palette: Prg(-1, 0xc45b),
            tile_palette: Prg(0, 0x87e3),
            chr: Chr(0x11, 0),
            width: 64,
            height: 75,
            raft_connector: 255,
            raft_table: Prg(0, 0),
            palace: (
                to_stone_table: (Prg(2, 0x8795), 1),
                chr_table: Prg(-1, 0xcd2e),
                palette_table: Prg(-1, 0xcd39),
                length: 4,
            )
        ),
    ],
    hidden: [
        (
            id: "hidden_palace",
            kind: Palace,
            connector: Prg(-1, 0xdf66),
            overworld: Prg(2, 0x836c),
            x: Prg(2, 0x8378),
            y: Prg(2, 0x8372),
            return_y: Prg(-1, 0xccb0),
            ppu_macro: Prg(-1, 0xdf6a),
            discriminator: Prg(0, 0),
        ),
        (
            id: "hidden_town",
            kind: Town,
            connector: Prg(-1, 0xdf67),
            overworld: Prg(-1, 0xdf92),
            x: Prg(-1, 0xdfa2),
            y: Prg(-1, 0xdf9c),
            return_y: Prg(-1, 0xcccb),
            ppu_macro: Prg(0, 0),
            discriminator: Prg(-1, 0xccc4),
        ),
    ],
    terrain_name: [
        "Desert",
        "Grass",
        "Forest",
        "Swamp",
        "Grave",
        "Road",
        "Lava",
    ],
    palace_connectors: [52, 53, 54, 55],
    town_connectors: [44, 45, 46, 47, 48, 49, 50, 51],
    overworld_ram: 0x7c00,
    overworld_len: 896,
)
