([
    (
        id: "overworld",
        name: "Overworld",
        palette: [
            (id: "0", name: "Overworld", address: Prg(-1, 0xc45b)),
            (id: "1", name: "Sprites",   address: Prg(-1, 0xc46b)),
        ],
    ),
    (
        id: "west_hyrule",
        name: "West Hyrule",
        palette: [
            (id: "0", name: "North Castle", address: Prg(1, 0x800e)),
            (id: "1", name: "Cave",         address: Prg(1, 0x801e)),
            (id: "2", name: "Desert",       address: Prg(1, 0x802e)),
            (id: "3", name: "Grass",        address: Prg(1, 0x803e)),
            (id: "4", name: "Forest",       address: Prg(1, 0x804e)),
            (id: "5", name: "Swamp",        address: Prg(1, 0x805e)),
            (id: "6", name: "Graveyard",    address: Prg(1, 0x806e)),
            (id: "7", name: "Water",        address: Prg(1, 0x807e)),
            (id: "8", name: "Dark Cave",    address: Prg(1, 0x808e)),
        ],
    ),
    (
        id: "west_hyrule_sprites",
        name: "West Hyrule Sprites",
        palette: [
            (id: "0", name: "Black Border", address: Prg(1, 0x809e)),
            (id: "1", name: "Dark Border",  address: Prg(1, 0x80ae)),
            (id: "2", name: "Unused 2",     address: Prg(1, 0x80be)),
            (id: "3", name: "Unused 3",     address: Prg(1, 0x80ce)),
        ],
    ),
    (
        id: "east_hyrule",
        name: "East Hyrule",
        palette: [
            (id: "0", name: "North Castle", address: Prg(2, 0x800e)),
            (id: "1", name: "Cave",         address: Prg(2, 0x801e)),
            (id: "2", name: "Desert",       address: Prg(2, 0x802e)),
            (id: "3", name: "Grass",        address: Prg(2, 0x803e)),
            (id: "4", name: "Forest",       address: Prg(2, 0x804e)),
            (id: "5", name: "Swamp",        address: Prg(2, 0x805e)),
            (id: "6", name: "Graveyard",    address: Prg(2, 0x806e)),
            (id: "7", name: "Water",        address: Prg(2, 0x807e)),
            (id: "8", name: "Dark Cave",    address: Prg(2, 0x808e)),
        ],
    ),
    (
        id: "east_hyrule_sprites",
        name: "East Hyrule Sprites",
        palette: [
            (id: "0", name: "Black Border", address: Prg(2, 0x809e)),
            (id: "1", name: "Dark Border",  address: Prg(2, 0x80ae)),
            (id: "2", name: "Unused 2",     address: Prg(2, 0x80be)),
            (id: "3", name: "Unused 3",     address: Prg(2, 0x80ce)),
        ],
    ),
    (
        id: "town",
        name: "Towns",
        palette: [
            (id: "0", name: "Rauru/Nabooru",    address: Prg(3, 0x800e)),
            (id: "1", name: "Ruto",             address: Prg(3, 0x801e)),
            (id: "2", name: "Saria/New Kasuto", address: Prg(3, 0x802e)),
            (id: "3", name: "Mido",             address: Prg(3, 0x803e)),
            (id: "4", name: "Darunia",          address: Prg(3, 0x804e)),
            (id: "5", name: "Kasuto",           address: Prg(3, 0x805e)),
            (id: "6", name: "Indoors",          address: Prg(3, 0x806e)),
            (id: "7", name: "Basement",         address: Prg(3, 0x807e)),
        ],
    ),
    (
        id: "town_sprites",
        name: "Town Sprites",
        palette: [
            (id: "0", name: "Black Border", address: Prg(3, 0x809e)),
            (id: "1", name: "Dark Border",  address: Prg(3, 0x80ae)),
            (id: "2", name: "Unused 2",     address: Prg(3, 0x80be)),
            (id: "3", name: "Unused 3",     address: Prg(3, 0x80ce)),
        ],
    ),

    (
        id: "palace_outdoor",
        name: "Palaces (Outdoors)",
        palette: [
            (id: "1", name: "P1 (Parapa)", address: Prg(4, 0x8470)),
            (id: "2", name: "P2 (Midoro)", address: Prg(4, 0x8480)),
            (id: "3", name: "P3 (Island)", address: Prg(4, 0x8490)),
            (id: "4", name: "P4 (Maze)",   address: Prg(4, 0x84a0)),
            (id: "5", name: "P5 (Water)",  address: Prg(4, 0x84b0)),
            (id: "6", name: "P6 (Hidden)", address: Prg(4, 0x84c0)),
            (id: "7", name: "P7 (Great)",  address: Prg(5, 0x800e)),
        ],
    ),
    (
        id: "palace_indoor",
        name: "Palaces (Indoors)",
        palette: [
            (id: "1", name: "P1 (Parapa)", address: Prg(4, 0xBF00)),
            (id: "2", name: "P2 (Midoro)", address: Prg(4, 0xBF10)),
            (id: "3", name: "P3 (Island)", address: Prg(4, 0xBF20)),
            (id: "4", name: "P4 (Maze)",   address: Prg(4, 0xBF30)),
            (id: "5", name: "P5 (Water)",  address: Prg(4, 0xBF40)),
            (id: "6", name: "P6 (Hidden)", address: Prg(4, 0xBF50)),
            (id: "7", name: "P7 (Great)",  address: Prg(5, 0x801e)),
        ],
    ),
    (
        id: "palace_sprites",
        name: "Palace 1-6 Sprites",
        palette: [
            (id: "0", name: "Black Border", address: Prg(4, 0x809e)),
            (id: "1", name: "Dark Border",  address: Prg(4, 0x80ae)),
            (id: "2", name: "Unused 2",     address: Prg(4, 0x80be)),
            (id: "3", name: "Unused 3",     address: Prg(4, 0x80ce)),
        ],
    ),
    (
        id: "great_palace_sprites",
        name: "Palace 7 Sprites",
        palette: [
            (id: "0", name: "Black Border", address: Prg(5, 0x809e)),
            (id: "1", name: "Dark Border",  address: Prg(5, 0x80ae)),
            (id: "2", name: "Unused 2",     address: Prg(5, 0x80be)),
            (id: "3", name: "Unused 3",     address: Prg(5, 0x80ce)),
        ],
    ),
    (
        id: "special",
        name: "Special Palettes",
        palette: [
            (id: "shield", name: "Shield Spell", address: Prg(0, 0x8e8e), length: Some(1)),
            (id: "darklink", name: "Dark Link Fight", address: Prg(-1, 0xc47f)),
            (id: "post_darklink", name: "Post DL Fight",
             address: Prg(-1, 0xc493), magic_background: Some(Prg(5, 0x981c))),
        ],
    ),
    (
        id: "title_screen",
        name: "Title Screen",
        palette: [
            (id: "0", name: "Background",      address: Prg(5, 0xaf40)),
            (id: "1", name: "Sprites",         address: Prg(5, 0xaf50)),
            (id: "2", name: "Select Screen",   address: Prg(5, 0xbbf8)),
            (id: "3", name: "Select Sprites",  address: Prg(5, 0xbc08)),
            (id: "4", name: "Lives Screen",    address: Prg(-1, 0xc44c), length: Some(4)),
            (id: "5", name: "Lives (sprites)", address: Prg(-1, 0xc453), length: Some(4)),
        ],
    ),
])
