([
    //####################################################################   
    // Small overworld objects.
    //####################################################################   
    (
        name: "Headstone",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x00,
        width: 1,
        height: 1,
        metatile: [0xC5],
    ),
    (
        name: "Cross",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x01,
        width: 1,
        height: 1,
        metatile: [0xC6],
    ),
    (
        name: "Angled Cross",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x02,
        width: 1,
        height: 1,
        metatile: [0xC7],
    ),
    (
        name: "Tree Stump",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x03,
        width: 1,
        height: 1,
        metatile: [0x5b, 0x5c],
    ),
    (
        name: "Stonehenge",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x04,
        width: 4,
        height: 3,
        metatile: [
            0x56, 0x57, 0x57, 0x58,
            0x59, 0x00, 0x00, 0x59,
            0x5a, 0x00, 0x00, 0x5a,
        ],
    ),
    (
        name: "Locked Door",
        area: Outdoors,
        kind: Small,
        render: Item,
        id: 0x05,
        width: 1,
        height: 3,
        metatile: [0xd4],
    ),
    (
        name: "Sleeping Zelda",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x06,
        width: 2,
        height: 1,
        metatile: [0x4e, 0x4f],
    ),
    (
        name: "Sleeping Zelda",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x07,
        width: 2,
        height: 1,
        metatile: [0x4e, 0x4f],
    ),
    (
        name: "Pit",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x08,
        width: 1,
        height: 13,
        metatile: [
            0x40, 0x40, 0x40, 0x40, 0x40, 0x40, 0x40,
            0x40, 0x40, 0x40, 0x40, 0x40, 0x40],

    ),
    (
        name: "Large Cloud",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x09,
        width: 2,
        height: 1,
        metatile: [0xc2, 0xc3],
    ),
    (
        name: "Small Cloud",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x0a,
        width: 2,
        height: 1,
        metatile: [0xc2, 0xc4],
    ),
    (
        name: "Small Cloud",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x0b,
        width: 2,
        height: 1,
        metatile: [0xc2, 0xc4],
    ),
    (
        name: "Small Cloud",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x0c,
        width: 2,
        height: 1,
        metatile: [0xc2, 0xc4],
    ),
    (
        name: "Small Cloud",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x0d,
        width: 2,
        height: 1,
        metatile: [0xc2, 0xc4],
    ),
    (
        name: "Small Cloud",
        area: Outdoors,
        kind: Small,
        render: Grid,
        id: 0x0e,
        width: 2,
        height: 1,
        metatile: [0xc2, 0xc4],
    ),
    (
        name: "Collectable",
        area: Outdoors,
        kind: Small,
        render: Item,
        id: 0x0f,
        width: 1,
        height: 1,
        metatile: [0x00],
    ),

    //####################################################################   
    // Object Set 0 overworld objects.
    //####################################################################   
    (
        name: "Forest Ceiling",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x20,
        width: 1,
        height: 2,
        metatile: [0x8c, 0x8d],
    ),
    (
        name: "Forest Ceiling",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x30,
        width: 1,
        height: 2,
        metatile: [0x8c, 0x8d],
    ),
    (
        name: "Curtains",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x40,
        width: 1,
        height: 2,
        metatile: [0xc0, 0xc1],
    ),
    (
        name: "Forest Ceiling",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x50,
        width: 1,
        height: 1,
        metatile: [0xc1],
    ),
    (
        name: "Breakable Block",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x60,
        width: 1,
        height: 1,
        metatile: [0x61],
    ),
    (
        name: "Horizontal Pit",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x70,
        width: 1,
        height: 1,
        metatile: [0x40],
    ),
    (
        name: "Single Weed",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x80,
        width: 1,
        height: 1,
        metatile: [0x81],
    ),
    (
        name: "Double Weed",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0x90,
        width: 1,
        height: 1,
        metatile: [0x82],
    ),
    (
        name: "North Palace Steps",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0xa0,
        width: 1,
        height: 1,
        metatile: [0x50],
    ),
    (
        name: "North Palace Bricks",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0xb0,
        width: 1,
        height: 1,
        metatile: [0x8b],
    ),
    (
        name: "Volcano Background",
        area: Outdoors,
        kind: Objset(0),
        render: Horizontal,
        id: 0xc0,
        width: 1,
        height: 1,
        metatile: [0x00],
    ),
    (
        name: "Breakable Block",
        area: Outdoors,
        kind: Objset(0),
        render: Vertical,
        id: 0xd0,
        width: 1,
        height: 1,
        metatile: [0x61],
    ),
    (
        name: "Tree Trunk",
        area: Outdoors,
        kind: Objset(0),
        render: TopUnique,
        id: 0xe0,
        width: 1,
        height: 2,
        metatile: [0x4c, 0x4b],
    ),
    (
        name: "Pillar",
        area: Outdoors,
        kind: Objset(0),
        render: TopUnique,
        id: 0xf0,
        width: 1,
        height: 2,
        metatile: [0x86, 0x85],
    ),

    //####################################################################   
    // Object Set 1 overworld objects.
    //####################################################################   
    (
        name: "Rock Floor",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x20,
        width: 1,
        height: 2,
        metatile: [0x52, 0x53],
    ),
    (
        name: "Rock Ceiling",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x30,
        width: 1,
        height: 2,
        metatile: [0x53, 0x55],
    ),
    (
        name: "Bridge",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x40,
        width: 1,
        height: 2,
        metatile: [0x4d, 0x5d],
    ),
    (
        name: "Cave Platform",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x50,
        width: 1,
        height: 1,
        metatile: [0x54],
    ),
    (
        name: "Breakable Block",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x60,
        width: 1,
        height: 1,
        metatile: [0x61],
    ),
    (
        name: "Crumble Bridge",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x70,
        width: 1,
        height: 1,
        metatile: [0x60],
    ),
    (
        name: "Single Weed",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x80,
        width: 1,
        height: 1,
        metatile: [0x81],
    ),
    (
        name: "Double Weed",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0x90,
        width: 1,
        height: 1,
        metatile: [0x82],
    ),
    (
        name: "Horizontal Pit",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0xa0,
        width: 1,
        height: 1,
        metatile: [0x50],
    ),
    (
        name: "North Palace Bricks",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0xb0,
        width: 1,
        height: 1,
        metatile: [0x8b],
    ),
    (
        name: "Volcano Background",
        area: Outdoors,
        kind: Objset(1),
        render: Horizontal,
        id: 0xc0,
        width: 1,
        height: 1,
        metatile: [0x00],
    ),
    (
        name: "Breakable Block",
        area: Outdoors,
        kind: Objset(1),
        render: Vertical,
        id: 0xd0,
        width: 1,
        height: 1,
        metatile: [0x61],
    ),
    (
        name: "Rock Floor",
        area: Outdoors,
        kind: Objset(1),
        render: TopUnique,
        id: 0xe0,
        width: 1,
        height: 2,
        metatile: [0x52, 0x53],
    ),
    (
        name: "Stone Spire",
        area: Outdoors,
        kind: Objset(1),
        render: TopUnique,
        id: 0xf0,
        width: 1,
        height: 2,
        metatile: [0x59, 0x5a],
    ),

    //####################################################################   
    // Extra overworld objects.
    //####################################################################   
    (
        name: "Lava",
        area: Outdoors,
        kind: Extra,
        render: Horizontal,
        id: 0x20,
        width: 1,
        height: 3,
        metatile: [0x80, 0x89, 0x89],
        fixed_y: Some(10),
    ),
    (
        name: "Cactus 1",
        area: Outdoors,
        kind: Extra,
        render: TopUnique,
        id: 0x30,
        width: 1,
        height: 2,
        metatile: [0x46, 0x47],
        fixed_y_minus_param: Some(10)
    ),
    (
        name: "Cactus 2",
        area: Outdoors,
        kind: Extra,
        render: TopUnique,
        id: 0x40,
        width: 1,
        height: 2,
        metatile: [0x48, 0x49],
        fixed_y: Some(8)
    ),
    (
        name: "Elevator",
        area: Outdoors,
        kind: Extra,
        render: Item,
        id: 0x50,
        width: 1,
        height: 1,
        metatile: [0xee],
        fixed_y: Some(7),
    ),


])
