(
    group: [
        (
            id: "west_background",
            name: "West Hyrule Background",
            kind: Outdoors,
            world: 0,
            overworld: 0,
            subworld: 0,
            length: 7,
            address: Prg(1, 0x8000),
            enemies: Prg(1, 0x85a1),
            palette: Prg(1, 0x800e),
            connections: Prg(1, 0x871b),
            max_connectable_index: 30,
            doors: Prg(1, 0x8817),
            max_door_index: 0,
            availability: Prg(5, 0xbb15),
            metatile_table: Prg(1, 0x8500),
            chr: Chr(3, 0),
            pet_names: {
            },
            background_id: None,
            background_layer: true,
            background: [
                (
                    name: "Cave",
                    ceiling: (0x53, 0x55),
                    floor: (0x52, 0x53),
                    background: 0x42,
                ),
                (
                    name: "Forest",
                    ceiling: (0x8c, 0x8d),
                    floor: (0x90, 0x90),
                    alternate: 0x84,
                    background: 0x40,
                ),
                (
                    name: "Water",
                    ceiling: (0x40, 0x40),
                    floor: (0x87, 0x91),
                    background: 0x40,
                ),
                (
                    name: "Swamp",
                    ceiling: (0x40, 0x40),
                    floor: (0x87, 0x91),
                    background: 0x40,
                ),
                (
                    name: "Grass",
                    ceiling: (0x40, 0x40),
                    floor: (0x8a, 0x8F),
                    alternate: 0x83,
                    background: 0x40,
                ),
                (
                    name: "Volcano",
                    ceiling: (0x53, 0x55),
                    floor: (0x52, 0x53),
                    background: 0x51,
                ),
                (
                    name: "North Palace",
                    ceiling: (0x8b, 0x8b),
                    floor: (0xc9, 0xc9),
                    background: 0x40,
                ),
                (
                    name: "Rocky",
                    ceiling: (0x53, 0x55),
                    floor: (0x52, 0x53),
                    background: 0x40,
                ),
            ],
        ),
        (
            id: "west_hyrule",
            name: "West Hyrule",
            kind: Outdoors,
            world: 0,
            overworld: 0,
            subworld: 0,
            length: 63,
            address: Prg(1, 0x8523),
            enemies: Prg(1, 0x85a1),
            palette: Prg(1, 0x800e),
            connections: Prg(1, 0x871b),
            max_connectable_index: 30,
            doors: Prg(1, 0x8817),
            max_door_index: 0,
            availability: Prg(5, 0xbb15),
            metatile_table: Prg(1, 0x8500),
            chr: Chr(3, 0),
            pet_names: {
                0: "North Palace",
            },
            background_id: Some("west_background"),
            background: [
                (
                    name: "Cave",
                    ceiling: (0x53, 0x55),
                    floor: (0x52, 0x53),
                    background: 0x42,
                ),
                (
                    name: "Forest",
                    ceiling: (0x8c, 0x8d),
                    floor: (0x90, 0x90),
                    alternate: 0x84,
                    background: 0x40,
                ),
                (
                    name: "Water",
                    ceiling: (0x40, 0x40),
                    floor: (0x87, 0x91),
                    background: 0x40,
                ),
                (
                    name: "Swamp",
                    ceiling: (0x40, 0x40),
                    floor: (0x87, 0x91),
                    background: 0x40,
                ),
                (
                    name: "Grass",
                    ceiling: (0x40, 0x40),
                    floor: (0x8a, 0x8F),
                    alternate: 0x83,
                    background: 0x40,
                ),
                (
                    name: "Volcano",
                    ceiling: (0x53, 0x55),
                    floor: (0x52, 0x53),
                    background: 0x51,
                ),
                (
                    name: "North Palace",
                    ceiling: (0x8b, 0x8b),
                    floor: (0xc9, 0xc9),
                    background: 0x40,
                ),
                (
                    name: "Rocky",
                    ceiling: (0x53, 0x55),
                    floor: (0x52, 0x53),
                    background: 0x40,
                ),
            ],
        ),
    ],
    enemy_list_ram: 0x7000,
    enemy_list_rom: 0x88a0,
)
