(
    pointer: Prg(3, 0xb423),
    table: [
        (
            id: "west_towns",
            name: "West Towns",
            index: 0,
            length: 52,
        ),
        (
            id: "east_towns",
            name: "East Towns",
            index: 1,
            length: 46,
        ),
    ],
)
