(
    pointer: Prg(3, 0xb423),
    table: [
        (
            id: "west_hyrule/town",
            name: "West Hyrule Towns",
            index: 0,
            length: 52,
        ),
        (
            id: "east_hyrule/town",
            name: "East Hyrule Towns",
            index: 1,
            length: 46,
        ),
    ],
)
